<div class="container-fluid main d-flex flex-column">
	<div class="row">
		<h1 class="text-center mx-auto mt-5">Demokratia</h1>
	</div>
	<div class="row fill">
		<div class="col-12 col-md-7 col-lg-5 col-xl-4 mx-auto flex-column fill d-flex">
			<div class="row fill">
				<div class="col">
					<router-outlet></router-outlet>
				</div>
			</div>
			<div class="row mx-1 footer">
				<div class="col text-left copyright">&copy; 2018 - Rama Universitaria del IEEE de Madrid</div>
				<div class="col-auto text-right" *ngIf="user">Logout</div>
			</div>
		</div>
	</div>

</div>
